.jake-diagram {
  border-style: hidden none hidden hidden;
  table-layout: fixed;
}

.jake-diagram :where(th.step) {
  width: 75px;
  font-weight: normal;
}

.jake-diagram th:not(.step) {
  text-align: right;
}

.jake-diagram td.next-is-same-doc {
  border-right: dotted 2px;
}

.jake-diagram td.prev-is-same-doc {
  border-left: dotted 2px;
}

.jake-diagram .current {
  font-style: italic;
  font-weight: bold;
}

/* Chosen by clicking around https://colorhunt.co/palettes/pastel */
.jake-diagram .doc-0 {
  background: #F0EBE3;
}

.jake-diagram .doc-1 {
  background: #EEE4AB;
}

.jake-diagram .doc-2 {
  background: #D3CEDF;
}

.jake-diagram .doc-3 {
  background: #D6EFED;
}

.jake-diagram .doc-4 {
  background: #F4BFBF;
}

.jake-diagram .doc-5 {
  background: #DAE5D0;
}
